### Build Results ###
target/
!.mvn/wrapper/maven-wrapper.jar
.gradle/
build/

### OS Specific ###
*~
.DS_Store
desktop.ini

### STS ###
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

### Application specific ###
/simplehttpsvr-config.json