<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="Integer" type="java.lang.Integer" />
		<typeAlias alias="Long" type="java.lang.Long" />
		<typeAlias alias="String" type="java.lang.String" />

		<typeAlias alias="List" type="java.util.List" />

		<typeAlias alias="CounterDto"
			type="com.github.francescojo.awesome.dto.CounterDto" />
	</typeAliases>
</configuration>
