<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.fj.com.rxactivity">

    <application>
        <activity
            android:name=".ResultInterceptorActivity"
            android:configChanges="mcc|mnc|locale|keyboard|keyboardHidden|screenLayout|fontScale|uiMode|orientation|screenSize|layoutDirection"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent" />

        <activity
            android:name=".PermissionInterceptorActivity"
            android:configChanges="mcc|mnc|locale|keyboard|keyboardHidden|screenLayout|fontScale|uiMode|orientation|screenSize|layoutDirection"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent" />
    </application>
</manifest>
