<!DOCTYPE html>
<html>
<head>
    <title>{{code}} {{reason}}</title>
</head>
<body>
    <h1>{{code}} {{reason}}</h1>
    <p>{{message}}</p>
    <hr>
    <address>
        {{_SERVER_NAME}} on {{_SERVER_DATE}} ({{_SERVER_TIMEZONE}})
    </address>
</body>
</html>